
/serve1/node_modules

/vue-vant/node_modules
/vue-vant/dist
/vue-vant/npm-debug.log*
/vue-vant/yarn-debug.log*
/vue-vant/yarn-error.log*
/vue-vant/.idea
/vue-vant/.vscode
/vue-vant/*.suo
/vue-vant/*.ntvs*
/vue-vant/*.njsproj
/vue-vant/*.sln
/vue-vant/*.sw?

/vuecli4/.DS_Store
/vuecli4/node_modules
/vuecli4/dist

# local env files
/vuecli4/.env.local
/vuecli4/.env.*.local

# Log files
/vuecli4/npm-debug.log*
/vuecli4/yarn-debug.log*
/vuecli4/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
